In [2]:
import pandas as pd

In [14]:
boston_df = pd.read_csv("boston.csv")
# boston_df.head()
boston_df.describe()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

### IDENTIFYING TARGET AND FEATURES

In [16]:
X = boston_df.drop(["MEDV"], axis=1)
Y = boston_df["MEDV"]

#### Scaling data using standardscaler

Useful in cases where data is homogenous

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [12]:
X_scaled

array([[-0.41978194,  0.28482986, -1.2879095 , ...,  0.44105193,
        -1.0755623 ,  0.15968566],
       [-0.41733926, -0.48772236, -0.59338101, ...,  0.44105193,
        -0.49243937, -0.10152429],
       [-0.41734159, -0.48772236, -0.59338101, ...,  0.39642699,
        -1.2087274 ,  1.32424667],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  0.44105193,
        -0.98304761,  0.14880191],
       [-0.40776407, -0.48772236,  0.11573841, ...,  0.4032249 ,
        -0.86530163, -0.0579893 ],
       [-0.41500016, -0.48772236,  0.11573841, ...,  0.44105193,
        -0.66905833, -1.15724782]])

In [20]:
pd.DataFrame(X_scaled, columns=list(X))

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058

#### Pipeline Example

In [21]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import RobustScaler

transformer = Pipeline([
    ('scaler', StandardScaler()),
    ('robust', RobustScaler())
])

transformer.fit(X)
pd.DataFrame(transformer.transform(X), columns=list(X)).head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.069593,1.44,-0.571650,0.0,0.000000,0.496612,-0.250765,0.285777,-0.20,-0.087855,-1.339286,0.261902,-0.637681
1,-0.063755,0.00,-0.202943,0.0,-0.394286,0.287940,0.028542,0.569789,-0.15,-0.227390,-0.446429,0.261902,-0.221889
2,-0.063760,0.00,-0.202943,0.0,-0.394286,1.323171,-0.334353,0.569789,-0.15,-0.227390,-0.446429,0.066675,-0.732634
3,-0.062347,0.00,-0.581720,0.0,-0.457143,1.069783,-0.646279,0.924391,-0.10,-0.279070,-0.125000,0.153016,-0.841579
4,-0.052144,0.00,-0.581720,0.0,-0.457143,1.271680,-0.475025,0.924391,-0.10,-0.279070,-0.125000,0.261902,-0.602699

### DEALING WITH CATEGORICAL VALUES

In [4]:
# importing restaurant data, data which has categorical values
import pandas as pd
df = pd.read_csv("restaurant.csv")
df.head()

   total_bill  tip     city     sex smoker  day    time  size
0       16.99  Yes    Milan  Female    Yes  Sat   Lunch     2
1       10.34   No     Rome    Male     No  Sun  Dinner     3
2       21.01   No  Bergamo    Male     No  Mon  Dinner     3
3       23.68   No   Naples    Male     No  Sun  Dinner     2
4       24.59  Yes    Milan  Female     No  Fri  Dinner     4

In [6]:
# using fit_transform method here in onehotencoder, then converting df into a one-hot encoded dataframe
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe_df = pd.DataFrame(ohe.fit_transform(df).toarray())
ohe_df.head()

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [8]:
# by default, ohe only gives option to select cols to one-hot encode, 
# and no such option to selectively choose them in a dataframe and not encode the rest
ohe = OneHotEncoder()
pd.DataFrame(ohe.fit_transform(df[['smoker']]).toarray()).head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

In [11]:
# below is a method to selectively choose columns in dataframe to convert into numerical value
# while keeping others as is
from sklearn.compose import make_column_transformer
ohe = OneHotEncoder()
ct = make_column_transformer(
    (ohe, ['smoker', 'sex', 'day', 'time']),
    remainder='passthrough'
)

data_new = pd.DataFrame(ct.fit_transform(df))
data_new.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,16.99,Yes,Milan,2
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,10.34,No,Rome,3
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,21.01,No,Bergamo,3
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,23.68,No,Naples,2
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,24.59,Yes,Milan,4

### DEALING WITH MISSING VALUES

#### Simple Imputer / Univariate

Where one missing is constructed using non-missing values from that column only

In [16]:
# in this example, using data imputation strategies like 'median', missing values can be filled with useful data
# here the missing value is only based on non-missing values from that feature
from sklearn.impute import SimpleImputer
import numpy as np
data = pd.DataFrame({
    'items': [np.nan, 2,4,8,10],
    'age': [23, np.nan, 28, 32, 40],
    'cost': [9500, 11000, np.nan, np.nan, 14760]
})

imp = SimpleImputer(missing_values=np.nan, strategy='median') # can also be 'mean', etc
pd.DataFrame(imp.fit_transform(data))

      0     1        2
0   6.0  23.0   9500.0
1   2.0  30.0  11000.0
2   4.0  28.0  11000.0
3   8.0  32.0  11000.0
4  10.0  40.0  14760.0

In [17]:
# to see which value is imputed and which isn't
imp = SimpleImputer(missing_values=np.nan, strategy='median', add_indicator=True) # can also be 'mean', etc
pd.DataFrame(imp.fit_transform(data))

      0     1        2    3    4    5
0   6.0  23.0   9500.0  1.0  0.0  0.0
1   2.0  30.0  11000.0  0.0  1.0  0.0
2   4.0  28.0  11000.0  0.0  0.0  1.0
3   8.0  32.0  11000.0  0.0  0.0  1.0
4  10.0  40.0  14760.0  0.0  0.0  0.0

#### Multivariate Imputer
Where one missing value is constructed using non-missing values from all columns instead of just that one.

In [24]:
# 1st type of mv imp, Iterative Imputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

it = IterativeImputer()
pd.DataFrame(it.fit_transform(data))

array([[9.94732358e-01, 2.30000000e+01, 9.50000000e+03],
       [2.00000000e+00, 2.78460143e+01, 1.10000000e+04],
       [4.00000000e+00, 2.80000000e+01, 1.10469250e+04],
       [8.00000000e+00, 3.20000000e+01, 1.22838660e+04],
       [1.00000000e+01, 4.00000000e+01, 1.47600000e+04]])

In [25]:
# 2nd type of mv imp, K-NN Imputer
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors=2)
pd.DataFrame(knn.fit_transform(data))

      0     1        2
0   6.0  23.0   9500.0
1   2.0  30.0  11000.0
2   4.0  28.0  10250.0
3   8.0  32.0  12880.0
4  10.0  40.0  14760.0